body {
  font-family: Arial;
  background-color: #f0f2f5;
  margin: 0px;
  padding: 0px;
}

#master{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
#left{
    position: relative;
    margin-bottom: 140px;
    margin-right: 100px;
}
img{
    margin-left: -20px;
 
}

#para{
  font-size: 24px;
  line-height: 28px;
  color: #2d3035;
  width: 480px;
  margin: 0px;
  padding: 0px;

}

#right {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

#login-box {
  background: #fff;
  padding: 20px;
 
  border-radius: 8px;
  text-align: center;
}
input{
   
  width: 92%;
  height: 25px;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}


#login-btn {
  width: 100%;
  background: #1877f2;
  color: white;
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

#newacc{
    margin-top: 10px;
  background: #42b72a;
  color: white;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}


.right p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

#txtfield{
    height: 30px;
    width: 95%;
}

#facebook{
    background-size: cover;
    background-position: center;

  color: #1877f2;
  font-size: 64px;
  margin: 0;
}


a {
  display: block;
  color: #1877f2;
  margin: 20px 0px;
  font-size: 14px;
}